.bundle
*.swp
*.swo
*~
.rvmrc.*
lbase.ymlog/**/*
log/*
/db/*.sqlite3
/tmp/**/*
*.log
.rvmrc.*
*.DS_Store
config/unicorn.conf
config/database.yml
/config/global.yml
/config/memcached.yml
/config/nginx.conf
/config/thin.yml
/db/*_structure.sql
/db/structure.sql
Thumbs.db
/misc/deploy/config/host.rb
/data
vendor/bundle
vendor/bundler

/nbproject/private/
/features/find_productURL.feature
/features/see_recent_project.feature
/features/watch_project.feature
