*~
lbase.ymlog/**/*
config/unicorn.conf
config/database.yml
/config/global.yml
/config/memcached.yml
/config/nginx.conf
/config/thin.yml
/db/*_structure.sql
/db/structure.sql
/misc/deploy/config/host.rb
/data


# For editors
*.swp
*.swo

# For Rails
log/*
/db/*.sqlite3
/tmp/**/*
*.log

# For Mac
Thumbs.db
*.DS_Store

# For bundler
.bundle
vendor/bundle
vendor/bundler

# For NetBeans projects.
/nbproject/private/

# For Ruby Version Managers' archives.
.rvmrc.*
.ruby-gemset.*
.ruby-version.*

