<% content_for :content do %>
  <div id="recipe_finder"></div>


  <script type="text/template" id="tmpl-recipe_table">
    <div id="recipe_materials" style="display:none;">
      <section>
        <h2>レシピリスト</h2>
        <table id="recipe_list_table" class="table">
        </table>
      </section>

      <section>
        <h2>必要素材</h2>
        <table id="material_list_table" class="table">
        </table>
      </section>
    </div>
    <div id="default_contents" class="alert alert-info" style="display:none;">
      レシピを検索して必要な素材とお店で素材を買った時の値段をチェック！<br>
      レシピを続けて検索すると、必要な素材の合計数も出るので職人の依頼に便利です。<br>
    </div>
  </script>


  <script type="text/template" id="tmpl-recipe_list_table">
    <table>
      <thead>
        <tr>
          <th class="recipe_name">レシピ名</th>
          <th class="recipe_cost">原価合計 <small>（バザー除く）</small></th>
          <th class="recipe_buttons"><a href="/recipes" class="btn btn-small btn-inverse all_remove_button" style="color:white"><i class="icon-remove"></i><span class="recipes_all_remove_button_text"> 全削除</span></a></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </script>


  <script type="text/template" id="tmpl-material_list_table">
    <table>
      <thead>
        <tr>
          <th>アイテム名</th>
          <th class="material_count">合計必要数</th>
          <th class="material_price">購入金額</th>
          <td class="material_button"></td>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </script>

<% end %>

<% content_for :javascripts do %>
    <%#= javascript_include_tag "recipes" %>
    <script>
      function recipes_callback() {
<%- if user_signed_in? -%>
<%-   unless current_user.admin? -%>
       $(".recipes-action").append("");
<%-   end -%>
<%- end -%>
    }
    </script>
<% end %>


