<div class="amazon_affiliate">
  <div class="amazon_affiliate180">
<script type="text/javascript"><!--
  amazon_ad_tag = "3qrfactory01-22"; amazon_ad_width = "180"; amazon_ad_height = "150"; amazon_ad_link_target = "new"; amazon_ad_price = "retail";//--></script>
<script type="text/javascript" src="http://www.assoc-amazon.jp/s/ads.js"></script>
  </div>
  <div class="amazon_affiliate300">
    <script type="text/javascript"><!--
      amazon_ad_tag = "3qrfactory01-22"; amazon_ad_width = "300"; amazon_ad_height = "250"; amazon_ad_link_target = "new"; amazon_ad_price = "retail";//--></script>
    <script type="text/javascript" src="http://www.assoc-amazon.jp/s/ads.js"></script>
  </div>
</div>
<style>
  @media (min-width:1200px) {
    .amazon_affiliate180 {
      display : none;
    }
    .amazon_affiliate300 {
      display : block;
    }
    .amazon_affiliate {
      width   : 300px;
      margin  : 0px auto;
    }
  }
  @media (min-width:768px) and (max-width: 1199px) {
    .amazon_affiliate180 {
      display : block;
    }
    .amazon_affiliate300 {
      display : none;
    }
    .amazon_affiliate {
      width   : 180px;
      margin  : 0px auto;
    }
  }
  @media (max-width: 767px) {
    .amazon_affiliate180 {
      display : none;
    }
    .amazon_affiliate300 {
      display : block;
    }
    .amazon_affiliate {
      width   : 300px;
      margin  : 0px auto;
    }
  }

</style>
