    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container"><a class="brand" href="/"><%= t("app_name") %></a></div>
      </div>
    </div>

