    <footer>
      DragonQuest10(ドラゴンクエスト10) の画像やデータの著作権は ARMOR PROJECT / BIRD STUDIO / SQUARE ENIX に帰属します。
      <address>
        &copy; <%= Time.now.year %> <a href="https://plus.google.com/105330889456941233920" rel="author">ドラクエ逆引きレシピ</a>＠さくらファクトリー
      </address>
    </footer>


