a:hover {
  background-color: transparent;
}

@media (max-width: 480px) {
  .navbar.sub i {
    display:block;
    font-size: 30px;
    margin: 0px auto;

  }
}

@media (min-width:768px) {
  .navbar-fixed-top {
    margin-bottom: 0px;
  }
  .navbar.sub .navbar-inner {
    border: none;
    border-radius: 0px;
    border-bottom: lightgray 1px solid;
  }
}

body {
  padding-bottom: 4em;
}
footer {
    font-size: 10px;
  background-color:white;
  background:-webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.0)), color-stop(0.2, rgba(255,255,255,1.0)), to(rgba(255,255,255,1.0)));

    position:fixed;
    bottom: 0px;
    left : 0px;
    width  : 100%;
    text-align:center;
    height   : auto;
    padding-top:1em;
    line-height: 12px;
    a { color : gray; }
    color  : gray;
    address {
      margin-bottom:0.4em;
      a:hover {
        color:black;
      }
    }
  }

form.login-form {
  //display : none;

}
