a:hover {
  background-color: transparent;
}

@media (max-width: 480px) {
  .navbar.sub i {
    display:block;
    font-size: 30px;
    margin: 0px auto;

  }
}

@media (min-width:768px) {
  .navbar-fixed-top {
    margin-bottom: 0px;
  }
  .navbar.sub .navbar-inner {
    border: none;
    border-radius: 0px;
    border-bottom: lightgray 1px solid;
  }
}

body {
  padding-bottom: 4em;
}

footer {
    font-size: 10px;
  background-color:white;
  background:-webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.0)), color-stop(0.2, rgba(255,255,255,1.0)), to(rgba(255,255,255,1.0)));

    position:fixed;
    bottom: 0px;
    left : 0px;
    width  : 100%;
    text-align:center;
    height   : auto;
    padding-top:1em;
    line-height: 12px;
    a { color : gray; }
    color  : gray;
    address {
      margin-bottom:0.4em;
      a:hover {
        color:black;
      }
    }
  }

form.login-form {
  //display : none;

}


#global-header {
  margin-bottom: 0px !important;
  #new_user {
    padding:0px;
    margin:0px;
  }
  #global-header-menu {
    @media (max-width: 640px) {
      button {
        padding: 3px 5px;
        * {
          display: block;
        }
        i {
          font-size: 18px;
        }
        span {
          line-height: 12px;
          font-size: 8px;
        }
      }
    }
  }
}

#global-navigation {
  background-color: #CCC;
  margin:0px 0px 30px;
  box-shadow: 0px 2px 5px gray;
  .nav.nav-pills {
    display:inline-block;
    vertical-align: bottom;
    margin: 0px auto;
    a {
      background-color: transparent;
      border-radius: 0px;
      line-height: 20px;
      padding-right: 20px;
      padding-left: 20px;
      color: #666;
    }
    .active a {
      color: white;
      background-color: gray;
    }
  }
  @media (max-width:480px) {
    i {
      font-size: 32px;
      text-align:center;
      line-height: 35px;
      display: block;
    }
    .global-navigation-text {
      font-size: 12px;
    }
  }
}


.modal-dialog {
  #new_user {
    .form-group {
      margin-bottom: 10px;
    }
  }
  .modal-body {
    height: 110px;
  }
}
