a:hover {
	background-color: transparent;
}

@media (min-width:768px) {
  .navbar-fixed-top {
    margin-bottom: 0px;
  }
  .navbar.sub .navbar-inner {
    border: none;
    border-radius: 0px;
    border-bottom: lightgray 1px solid;
  }
}
@media (min-width:980px) {
  body {
    padding-top: 40px;
  }
}

body {
  padding-bottom: 4em;
}
footer {
  background-color:white;
  background:-webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.0)), color-stop(0.2, rgba(255,255,255,1.0)), to(rgba(255,255,255,1.0)));

    position:fixed;
    bottom: 0px;
    left : 0px;
    width  : 100%;
    text-align:center;
    height   : auto;
    padding-top:1em;
    line-height: 18px;
    a { color : gray; }
    color  : gray;
    address {
      margin-bottom:0.4em;
      a:hover {
        color:black;
      }
    }
  }
