h2 {
  font: {
    size   : 1.2em;
  }
  margin-bottom  : 0px;
  line-height    : 1.3em;
  margin-top     : 1em;
}

table {
  border-radius  : 15px;
  background-color :lightyellow;
  .label {
    font-size  : 10px;
    margin-left  : 1.4em;
  }
}

#added_contents {
  display : none;
}

