.tt-dropdown-menu {
  text-align: left;
  width: 230px;
  background-color: white;
  border-radius: 0px 0px 5px 5px;
  border: solid 1px gray;
  border-top: none;
  padding: 5px 0px;
  margin-left: 5px;
  color: #333;
  * {
    font-size: 18px;
    line-height: 45px;
    margin-bottom: 0px;
  }
  .tt-suggestions {
    solor:blue;
    .tt-suggestion {
      padding-left: 15px;
    }
    .tt-cursor {
      color: white;
      background-color: #428bca;
    }
  }
}

#recipe_finder {
  #recipe_finder_form {
    margin-bottom: 20px;
    #recipes_loading {
      overflow: hidden;
      text-align: left;
      padding-left: 30px;
      display: inline-block;
      width: 227px;
      background: {
        image: url(asset-path('loading-02.gif'));
        repeat: no-repeat;
        position: 10px center;
      }
    }
  }
  #recipe_keyword_fields {
    background-color: white;
    margin-bottom: 0px;
    * {
      vertical-align: middle;
    }
  }
  #recipe_table {
    td.recipe_name, td.recipe_cost {
      font-size: 16px;
      line-height: 30px;
    }
    @media (max-width:480px) {
      button {
        * {
          display:block;
        }
        span {
          font-size: 8px;
          line-height: 11px;
        }
      }
    }
  }
}

